@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

html {
    scroll-behavior: smooth;
  }

body{
    font-family: Poppins;
}

/* MOBILE M VIEW 375px */

header{
    margin: 80px auto 50px;
    text-align: center;
}

header img{
    margin: 10px auto;
    width: auto;
}

header .logo-text{
    width: 300px;
}

header .logo-women{
    width: 250px;
}

header h2{
    color: gray;
    font-size: 18px;
}

header h3{
    font-size: 15px;
    color: hotpink;
}

section{
    margin: 0 auto;
    padding: 0 30px;
    font-size: 15px;
    color: gray;
}

section h2 {
    color: turquoise;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}

.icon-socials a{
    font-size: 40px;
    text-decoration: none;
    color: hotpink;
    margin: 0 5px;
    /* -webkit-text-stroke: 1px hotpink;
    color: transparent; */
}

.girls-in-group{
    width: 280px;
    display: block;
    margin: 0 auto;
}

.news-links {
    text-decoration: none;
    color: hotpink;
}

.team-profile{
    /* margin-left: 20px; */
    margin-right: 0;
}

.team-profile img{
    border-radius: 50%;
    margin: 0 auto;
    /* width: 200px; */
}

.team-profile p, .team-profile a{
    margin: 0;
}

.team-profile .info {
    margin-left: 20px;
    margin-top: 40px;
}

.team-profile a {
    font-size: 30px;
    text-decoration: none;
    margin: 10px 5px;
    color: hotpink;
}

.site-author{
    font-size: 12px;
}

.two-cols{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 10px auto 30px;
}

/* .footer-img{
    opacity: 0.7;
    position: fixed;
}

.test{
    position: relative;
    bottom: 50px;
    right: 60px;
    float: right;
    font-size: 10px;
} */

/* RESPONSIVE MOBILE L VIEW */
@media (min-width: 425px){

    .team-profile{
        margin-left: 25px;
        margin-right: 0;
    }

    .team-profile p {
        font-size: 14px;
    }

}

/* RESPONSIE TABLET VIEW */
@media (min-width: 768px){
    
    .three-cols{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px auto 30px;
    }

    .two-cols{
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px auto 30px;
    }

    header .logo-text{
        width: 500px;
    }

    header .logo-women{
        width: 500px;
    }

    header h2{
        font-size: 22px;
    }

    header h3{
        font-size: 18px;
    }

    section h2 {
        font-size: 22px;
    }

    section p {
        font-size: 20px;
    }

    ol li{
        font-size: 18px;
    }

    .join-button {
        font-size: 20px;
    }

    .girls-in-group{
        width: 500px;
        display: block;
        margin: 0 auto;
    }

    .team-profile{
        margin: 0 auto;
        /* border: 1px solid grey; */
        /* border-radius: 30px; */
        /* display: flex;
        justify-content: center; */
        gap: 20px;
    }

    .team-profile p {
        font-size: 23px;
    }

    .team-profile a {
        font-size: 40px;
        margin: 5px 5px;
    }

    .team-profile img{
        width: 220px;
        /* margin: 20px; */
        border-radius: 30px;
    }

}

/* RESPONSIVE LAPTOP L VIEW */
@media (min-width: 1440px){

    header h2, section h2 {
        font-size: 25px;
    }

    header h3 {
        font-size: 20px;
    }

    p {
        font-size: 22px;
    }

    .icon-socials a {
        font-size: 70px;
    }

    section {
        margin: 0 300px;
    }

}