@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

html {
    scroll-behavior: smooth;
  }

body{
    font-family: Poppins;
}

/* MOBILE M VIEW 375px */

header{
    margin: 100px auto 70px;
    text-align: center;
}

header img{
    margin: 10px auto;
    width: auto;
}

header h2{
    color: gray;
    font-size: 18px;
}

header h3{
    font-size: 15px;
    color: hotpink;
}

section{
    margin: 0 auto;
    padding: 0 30px;
    font-size: 15px;
    color: gray;
}

section h2 {
    color: turquoise;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}

.icon-socials a{
    font-size: 50px;
    text-decoration: none;
    color: hotpink;
}

.team-profile{
    margin-left: 20px;
    margin-right: 0;
}

.team-profile img{
    border-radius: 50%;
    margin: 0 auto;
}

.team-profile p, .team-profile a{
    margin: 0;
}

.team-profile .info {
    margin: 20px;
}

.team-profile a {
    font-size: 30px;
    text-decoration: none;
    margin: 10px 5px;
    color: hotpink;
}

.site-author{
    font-size: 12px;
}

.two-cols{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto 30px;
}

/* RESPONSIVE MOBILE L VIEW */
@media (min-width: 425px){

    .team-profile{
        margin-left: 25px;
        margin-right: 0;
    }

    .team-profile p {
        font-size: 14px;
    }

}

/* RESPONSIVE LAPTOP L VIEW */
@media (min-width: 1440px){

    header h2, section h2 {
        font-size: 25px;
    }

    header h3 {
        font-size: 20px;
    }

    p {
        font-size: 22px;
    }

    .icon-socials a {
        font-size: 70px;
    }

    section {
        margin: 0 300px;
    }

}